{% extends "main.html" %}

{% block content %}
<div>
    <h1>Добро пожаловать!</a></h1>
</div>
<h2> Войдите в аккаунт </h2>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
<input type="submit" value="Войти">
</form>
<p>У вас нету аккаунта?</p>
<button> <a href="/sign/signup">Зарегистрироваться</a></button>
{% endblock %}