{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Post
{% endblock title %}
{% block content %}
<h2>{{post.date_time|date:'d.m.y'}}</h2>
<br>
<h2>{{post.title}}</h2>
<hr>
<img src="{{post.url_img}}" alt="Описание картинки" style="box-shadow: 0px 0px 20px rgba(0, 0, 0, 1.5);"></a>
<br>
<br>
<div style="text-align: left;">{{post.text|censor}}</div>
<br>
<form action="{% url 'post_like' post.pk %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">👍 Лайк</button>
</form>
<form action="{% url 'post_dislike' post.pk %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">👎 Дизлайк</button>
</form>
{% endblock content %}